@use "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Source+Serif+Pro:wght@600&display=swap');

*{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

h2, h3{
    font-family: 'Source Serif Pro', serif;
}

h3{
    font-weight: 600;
    color: #1A0A03;
}

a{
    transition: .2s linear;
}

.btn{
    background: #EE5514;
    color: white;
    border-radius: 5px;
    font-weight: 500;
}  

.swipe{
    display: flex;
    column-gap: 50px;
    & a{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(238, 85, 20, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        &.swap__btn:first-child{
            opacity: 0.4;
            transform: rotate(180deg);                
        }
    }
}

header, section, footer{
    padding: 0 calc(50vw - 595px);
}

.section__title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #EE5514;
}

.section__subtitle{
    font-size: 44px;
    line-height: 130%;
}

.head__block{
    padding-top: 40px;
    margin-bottom: 148px;
    background: url(./img/bg.jpg) top center no-repeat;
    &__content{
        padding: 0 calc(50vw - 595px);
        & section{
            padding: 0;
        }
    }
    & header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .logo__navigation{
            display: flex;
            align-items: center;
            column-gap: 104px;
            & .navigation__list{
                display: flex;
                column-gap: 41px;
                & li a{
                    text-transform: capitalize;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    color: #1A0A03;
                    opacity: 0.7;
                    &:hover{
                        color: #EE5514;
                    }
                }
            }
        }
    & .btn{
        padding: 15px 32px;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
    }
    }
    &__content{
       & .headpage{
        display: flex;
        padding-top: 32px;
        &__title__block{
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__title{
                font-family: 'Source Serif Pro';
                font-weight: 600;
                font-size: 61px;
                line-height: 120%;
                color: #1A0A03;
                & span{
                    color: #EE5514;
                }
            }
            &__subtitle{
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #1A0A03;
                opacity: 0.7;
            }
        }
        &__item-slider{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            column-gap: 75px;
            width: 50%;
            margin-bottom: 50px;
            &__sliderbox{
                width: 407px;
                height: 396px;
                border: 11px solid rgba(238, 85, 20, 0.4);
                &__imgbox{
                    &__redsneakers{
                        transform: translate(-30px, -50px) scale(1.5);
                    }
                }
            }
            & .next__arrow{
                width: 72px;
                height: 69px;
                border-radius: 50%;
                background: rgba(238, 85, 20, 0.1);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &__item__choose__block{
            max-width: 817px;
            padding: 30px 57px;
            box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
            border-radius: 5px; 
            display: flex;
            align-items: center;
            background-color: white;
            justify-content: space-between;
            &__part{
                &__name{
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #1A0A03;
                opacity: 0.7;
                margin-bottom: 10px;
                }
                & .dropdown{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 160%;
                    color: #1A0A03;
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        width: 16px;
                        height: 7px;
                        background: url(./img/Group\ 3.png);
                        transform: translateY(-50%);
                        margin-left: 10px;
                    }
                }
            }
            & .btn{
                padding: 15px 30px;
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
            }
        }
       }
    }
}

.video{
    display: flex;
    margin-bottom: 140px;
    &__start{
        width: 50%;
        padding-top: 70px;
        &__content{
            &__text{
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #1A0A03;
                opacity: 0.7;
                margin-top: 20px;
            }
        } 
    }
    &__end{
        width: 50%;
        display: flex;
        position: relative;
        & .blur{
            filter: blur(5px);
            position: absolute;
            top: 0;
            right: 0;
        }    
        &__imgbox{
            margin-top: 54px;
            overflow: hidden;
            border-radius: 10px;
            position: relative;
            z-index: 555;
            top: 0;
            & .play{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: white;
            }
        }
    }
    
}

.feature{
    margin-bottom: 140px;
    & .section__title{
        text-align: center;
    }
    & .section__subtitle{
        text-align: center;
        margin-bottom: 60px;
    }
    &__card__block{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__card{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(100% / 3 - 60px);
            padding: 56px 45px;
            box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
            border-radius: 10px;
            transition: .2s linear;
            cursor: pointer;
            &:hover{
                background: rgba(238, 85, 20, 0.1);
            }
            &__imgbox{
                width: 140px;
                height: 140px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(18, 101, 225, 0.1);
                margin-bottom: 38px;
            }
            &__title{
                font-size: 22px;
                line-height: 150%;
                text-transform: capitalize;
            }
            &__text{
                margin: 10px 0px 20px;
                text-align: center;
                font-weight: 400;
                font-size: 14px;
                color: #1A0A03;
                opacity: 0.7;
            }
            &__link{
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                color: #EE5514;
                display: flex;
                align-items: center;
                column-gap: 10px;
               & img{
                width: 5px;
                height: 8px;
               }
            }
        }
    }

}

.gallary{
    & .section__title{
        margin-bottom: 13px;
    }
    & .section__subtitle{
        margin-bottom: 16px;
    }

    & .category__swipe{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        & .category{
            display: flex;
            column-gap: 35px;
            align-items: center;
            & h4{
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
                letter-spacing: 0.05em;
                color: #1A0A03;
                opacity: 0.7;
            }
            & .category__list{
                display: flex;
                column-gap: 40px;
                & li a{
                    text-transform: capitalize;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 140%;
                    letter-spacing: 0.05em;
                    color: #1A0A03;
                    opacity: 0.7;
                    padding-bottom: 7px;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        display: block;
                        width: 0;
                        height: 2px;
                        background-color:  #EE5514;
                        transition: 0.3s linear;
                    }
                    &:hover::before{
                        width: 100%;
                    }
                }
            }
        }
    }
    &__cards{
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        margin-bottom: 140px;
        &-card{
            width: calc(100% / 4 - 90px);
            &__imgbox{
                width: 100%;
                height: 170px;
                position: relative;
                margin-bottom: 30px;
                border: 1px solid rgba(26, 10, 3, 0.1);
                border-radius: 10px;
                overflow: hidden;
                transition: .2s linear;
                &:hover{
                    border: 1px solid #EE5514;
                }
                & img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
            &__content{
               display: flex;
               flex-direction: column;
               row-gap: 10px;
               &__title{
                font-size: 22px;
                line-height: 150%;
               }
               &__itemSize,
               &__itemPrice{
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                color: #1A0A03;
                opacity: 0.8;
               }
               &__itemSize span,
               &__itemPrice span
               {
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                color: #1A0A03;
                opacity: 0.7;
                margin-right: 10px;
               }
               & .btn{
                align-self: baseline;
                padding: 15px 30px;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: 0.03em;
               }
            }
        }
    }
}

.testimonials{
    margin-bottom: 140px;
    & .section__subtitle{
        text-align: center;
        margin-bottom: 60px;
    }
    &__content{
        display: flex;
        column-gap: 127px;
        &__top{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            & img:not(img[src$=".svg"]){
                width: 100px;
                height: 100px;
            }
        }
        & .testimonials__quote{
            &__title{
                font-weight: 600;
                font-size: 22px;
                line-height: 150%;
                color: #1A0A03;
                margin-bottom: 16px;
            }
            &__text{
                font-style: italic;
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
                color: #1A0A03;
                opacity: 0.7;
                margin-bottom: 25px;
            }
        }
    }
    &__author{
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: #1A0A03;
        margin-bottom: 10px;
    }
    &__who{
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.8;
    }
    
}

.newsletter{
    display: flex;
    &__sign-up{
        padding: 63px;
        background: rgba(129, 168, 218, 0.1) center no-repeat;
        &__title{
            font-size: 31px;
            line-height: 140%;
            margin-bottom: 20px;
        }
        &__text{
            font-weight: 400;
            font-size: 18px;
            color: #1A0A03;
            opacity: 0.7;
            margin-bottom: 40px;
        }
        & form{
            display: flex;
            align-items: center;
            & input{
                padding: 15px 10px 15px 30px;
                border-radius: 5px;
                flex-grow: 1;
                &::placeholder{
                    font-size: 14px;
                    line-height: 150%;
                    color: #1A0A03;
                    opacity: 0.5;
                }
            }
            & button{
                padding: 15px 30px;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: 0.03em;
            }
        }
    }
}

footer{
    background: rgba(238, 85, 20, 0.04);
    padding-top: 100px;
    & .footer__top{
        display: flex;
        margin-bottom: 40px;
       &__adress__content__adressname,
       &__adress__content > a{
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.7;
        margin-top: 23px;
       }
       &__adress__content__adressname{
        margin-bottom: 20px;
       }
       & .social{
        display: flex;
        column-gap: 25px;
       }
       &__ourServices{
        margin-left: 77px;
        margin-right: 77px;
       }

       & ul li{
        font-weight: 400;
        line-height: 160%;
        color: #1A0A03;
    }
       & ul li:first-child{
            margin-bottom: 31px;    
            font-size: 18px;
       }

       & ul li:not(:first-child, :last-child){
        margin-bottom: 10px;
       }
       & ul li a,
       &__contact li:not(li.form){
            position: relative;
            color: #1A0A03;
            font-size: 16px;
            opacity: 0.7;
       }

       & ul li a::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #EE5514;
            transition: .2s linear;
       }

       & ul li a:hover:after{
            width: 100%;
       }

       &__contact form{
        & input{
            padding: 15px 10px 15px 20px;
            border-radius: 5px;
        }
        & button{
            padding: 15px 30px;
            font-size: 14px;
            line-height: 160%;
   }
       }
       &__support{
        flex-grow: 1;
       }

    }
    hr{
        height: 1px;
        background-color: gray;
    }
    .footer__bottom{
        padding: 30px 0;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #1A0A03;
        opacity: 0.7;
    }
}